.login {
    margin-top: 15%;
    background-color: lightsteelblue;
    opacity: 80%;
}
.navbar-nav {
    /*display: flex;*/
    flex-direction: initial;
}

.navbar-inverse .navbar-nav li a {
    color: black;
}

.rounded-ex {
    border-radius: 1.3rem !important;
}

