@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .carousel-inner {
        width: auto;
        height: 400px;
        max-height: 400px !important;
    }

    .carousel-content {
        color: black;
        display: flex;
        text-align: center;
    }
    .carousel-style {
        width: 100%;
    }
</style>
<script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel();
        });
</script>

<div class="row" style="margin-top:10%" >
    <div class="col-md-6">
        <div class="text-center">
            <h2 class="med mb-30">Right now, preparing your workforce is the smartest decision you’ll make</h2>
            <h4></h4>
            <div class="p-content mb-20">
                <p>
                    Lorem ipsum dolor sit amet. At similique exercitationem aut quam itaque et eligendi eligendi et laudantium veniam. At galisum enim aut excepturi tempore aut dolores iure. Ea dolor aliquid sit animi impedit qui dicta veritatis et quis nobis et saepe amet cum nemo praesentium. Vel dolor fuga At dignissimos unde vel suscipit accusamus aut quis omnis cum officiis corporis.

                    Quo dolore distinctio sed facere accusamus sit repellat inventore qui amet pariatur nam itaque repellendus et praesentium laboriosam ut architecto minima. Eos eligendi ipsa non perferendis est nulla error nam omnis modi non repudiandae ullam.

                    Et corporis beatae eos quasi labore qui quam voluptatem sit unde magni est veniam internos et obcaecati enim cum dolorem accusantium! Non molestias exercitationem quo galisum alias error recusandae est consequatur dolores. Id ipsam voluptatem qui magnam architecto eos impedit ratione non distinctio itaque ut omnis facilis sit fuga quibusdam.
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover" >
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-content">
                        <div style="margin: 0 auto">
                            <p>
                                <img alt="The 1st Message." src="~/Images/Slide1.jpg"
                                     style="width: 500px;height: 400px" />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div style="margin: 0 auto">
                            <p>
                                <img alt="The 2nd Message." src="~/Images/Slide4.jpg"
                                     style="width: 500px;height: 400px" />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div style="margin: 0 auto">
                            <p>
                                <img alt="The 3nd Message." src="~/Images/Slide3.jpg"
                                     style="width: 500px;height: 400px" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only"> Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>